<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myDeskClock-back yard</title>
    <script src="/static/vue.min.js"></script>
    <script src="/static/axios.min.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
        ::-webkit-scrollbar {
            display: none; /* Chrome Safari */
        }
        body {
            margin: 8px;
        }

        #send_task {
            margin-bottom: 16px;
        }

        #api_list_table{
            margin-top: 16px;
        }
        #api_list div div div::-webkit-scrollbar {
            display: none; /* Chrome Safari */
        }
        #api_list div div div{
            scrollbar-width: none; /* firefox */
            -ms-overflow-style: none; /* IE 10+ */
            overflow:scroll;
        }

    </style>
</head>


<body>

<div id="send_task">
    <div class="panel panel-primary panel-head" id="send_task_panel">
        <div class="panel-body">
            <legend>Send Task</legend>
            <div class="form-group">
                <label>title</label>
                <input type="text" class="form-control" v-model:value="title"
                       placeholder="default title">
            </div>
            <div class="form-group">
                <label>task (must exists)</label>
                <input type="text" class="form-control" v-model:value="task"
                       placeholder="task content required" @keyup.enter="send()">
            </div>
            <div class="form-group">
                <label>device</label>
                <input type="text" class="form-control" v-model:value="device"
                       placeholder="default device">
            </div>

            <button type="button" class="btn btn-primary" v-on:click="send()">Submit</button>
        </div>
    </div>
</div>

<div id="task_list">
    <div class="panel panel-default">
        <div class="panel-body">
            <legend>Task List</legend>

            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>task</th>
                    <th>create time</th>
                    <th>device</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in tasks" v-if="!item.readDone">
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.con }}</td>
                    <td>{{ FormatDateTime(item.createTime) }}</td>
                    <td>{{ item.deviceName }}</td>
                    <td><a v-on:click='set_done($event)' href="#">set done</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="api_list">
    <div class="panel panel-default">
        <div class="panel-body">
            <legend>Api List</legend>
            <button type="button" class="btn btn-danger" v-on:click="show=!show">show/hide</button>
            <div>
                <table class="table table-bordered table-hover" v-if="show" id="api_list_table">
                    <thead>
                    <tr>
                        <th>app</th>
                        <th>path</th>
                        <th>method</th>
                        <th>describe</th>
                        <th>sample</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in apis">
                        <td>{{ item.app }}</td>
                        <td>{{ item.path }}</td>
                        <td>{{ item.method }}</td>
                        <td>{{ item.describe }}</td>
                        <td>{{ item.sample }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<a href="/notify.py">click here to download python script for notify, may need right click and save
    as</a>
</body>

<script src="/static/index.js"></script>

</html>