<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myDeskClock-back yard</title>
    <script src="/static/vue.min.js"></script>
    <script src="/static/axios.min.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .body_main {
            margin: 16px;
        }
        
        #send_task {
            margin-bottom: 16px;
        }
        
        #api_list_table {
            margin-top: 16px;
        }
        
        #api_list div div div {
            overflow-x: scroll;
        }
        
        .remote_ctrl_item:hover,
        #task_list .panel:hover,
        .sticky_list_item:hover {
            box-shadow: rgb(141, 185, 255) 0px 0px 4px;
        }
        
        .sticky_list_item_title {
            font-size: 22px;
            margin-left: 16px;
            font-weight: 500;
            line-height: 1.1;
            font-family: inherit;
            word-break: break-all;
        }
        
        .sticky_list_item_done_mark {
            font-size: 22px;
            margin-left: 15px;
            font-weight: 700;
            line-height: 1.3;
            font-family: inherit;
        }
        
        .sticky_list_item_device {
            margin-left: 8px;
            box-sizing: border-box;
            font-size: 14px;
            line-height: 1.42;
            font-weight: 200;
            word-break: normal;
        }
        
        .sticky_list_item_time {
            margin-left: 16px;
        }
        
        .sticky_list_item_con {
            word-break: normal;
            margin-left: 16px;
            width: 90%;
            font-size: 14px;
        }
    </style>
</head>


<body>
    <div id="page_main">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index.html">myDeskClock Back Yard</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li v-bind:class="apps.task.active"><a href="#" v-on:click='switchPanel("task")'>Task</a>
                    </li>
                    <li v-bind:class="apps.notify.active"><a href="#" v-on:click='switchPanel("notify")'>Notify</a>
                    </li>
                    <li v-bind:class="apps.sticky.active" style="display: none;"><a href="#" v-on:click='switchPanel("sticky")'>Sticky</a>
                    </li>
                    <li v-bind:class="apps.remote_ctrl.active"><a href="#" v-on:click='switchPanel("remote_ctrl")'>RemoteCtrl</a>
                    </li>
                    <li v-bind:class="apps.settings.active"><a href="#" v-on:click='switchPanel("settings")'>Settings</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">MoreOperate <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:location.reload()">ForceReFresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="body_main">
            <div id="panel_task" v-if=' apps.task.active == "active" '>
                <div id="send_task">
                    <div class="panel panel-primary panel-head" id="send_task_panel">
                        <div class="panel-body">
                            <legend>Send Task</legend>
                            <div class="form-group">
                                <label v-on:click='task_reset_title'>title</label>
                                <input type="text" class="form-control" v-model:value="apps.task.task_title" placeholder="default title">
                            </div>
                            <div class="form-group">
                                <label v-on:click=' apps.task.task ="" '>task (must exists)</label>
                                <input type="text" class="form-control" v-model:value="apps.task.task" placeholder="task content required" @keyup.enter="task_send()">
                            </div>
                            <div class="form-group">
                                <label>device</label>
                                <input type="text" class="form-control" v-model:value="apps.settings.device" placeholder="default device">
                            </div>

                            <button type="button" class="btn btn-primary" v-on:click="task_send()">Submit
                            </button>
                        </div>
                    </div>
                </div>

                <!--    // task list-->
                <div id="task_list" style="width: 100%;">
                    <div class="panel panel-default" v-for="item in apps.task.tasks" v-on:click='task_show_detail(item.id)' v-if="apps.task.task_list_done_show||!item.readDone">
                        <div class="panel-body" style="display: table;width: 100%;">
                            <div v-if="item.readDone" style="display: table-cell;width: 100px;">
                                <a v-on:click.stop.prevent='task_set_undone(item.id)' href="#" v-bind:task_id="item.id">set
                                    unDone</a>
                                <span style="margin-left: 4px;font-size: 16px;">&checkmark;</span>
                            </div>
                            <div v-else style="display: table-cell;width: 70px;">
                                <a v-on:click.stop.prevent='task_set_done(item.id)' href="#" v-bind:task_id="item.id">set
                                    done</a>
                            </div>
                            <div style="display: table-cell;font-size: 18px;">
                                <span v-if="utils_judge_url(item.con) && apps.settings.judge_url"><a
                                        v-on:click.stop.prevent="util_open_new_window(item.con)"
                                        style="word-break: break-all;" href="#">{{ item.con }}</a></span>
                                <span v-else>{{ item.con }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="panel_notify" v-if=' apps.notify.active == "active" '>


                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>notify</th>
                            <th>device</th>
                            <th>create time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in apps.notify.notifies">
                            <td>{{ item.id }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ item.con }}</td>
                            <td>{{ item.deviceName }}</td>
                            <td>{{ ui_format_time(item.createTime) }}</td>
                        </tr>
                    </tbody>
                </table>


                <a href="/static/notify.py">click here to download python script for notify, may need
                    right click and
                    save
                    as</a>
            </div>

            <div id="panel_sticky" v-if=' apps.sticky.active == "active" '>
                <div class="panel panel-default sticky_list_item" v-for="item in apps.sticky.stickies">
                    <div class="panel-body">
                        <p style="margin-top: 5px;">
                            <span class="sticky_list_item_title">{{ item.title }}</span><span class="sticky_list_item_done_mark" v-if="item.readDone">&checkmark;</span>
                            <span class="sticky_list_item_device">{{ item.deviceName }}</span>
                        </p>
                        <p><span class="sticky_list_item_time">{{ ui_format_time(item.createTime) }}</span></p>
                        <p style="margin-top: 8px;"><span class="sticky_list_item_con">{{ item.con }}</span>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default sticky_list_item">
                    <div class="panel-body">
                        <p style="margin-top: 5px;">
                            <span class="sticky_list_item_title">myDeskClock简介</span><span class="sticky_list_item_done_mark">&checkmark;</span>
                            <span class="sticky_list_item_device">WolfPC</span>
                        </p>
                        <p><span class="sticky_list_item_time">2017-08-15 15:30:20</span></p>
                        <p style="margin-top: 8px;"><span class="sticky_list_item_con">myDC是一个基于水墨屏安卓设备时钟体验的信息集合平台，此app可以将用户的通知（Notify），TODO（Task），和便签（Sticky）呈现在案前。与我们开发的另一款app
                                myShareSpace不同的是，myDC专注于文本以及具体的应用场景，全类型全场景的普适性并不是我们的开发重点。但是我们的确希望myDC能够为更多用户提供更加简洁更加灵活的功能与服务。</span>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default sticky_list_item">
                    <div class="panel-body">
                        <p style="margin-top: 5px;">
                            <span class="sticky_list_item_title">Notify简介</span><span class="sticky_list_item_done_mark">&checkmark;</span>
                            <span class="sticky_list_item_device">WolfPC</span>
                        </p>
                        <p><span class="sticky_list_item_time">2017-08-15 15:30:20</span></p>
                        <p style="margin-top: 8px;"><span class="sticky_list_item_con">除显示时间外，myDC还提供三个主要的功能，其中最简单，及时性最强的是Notify。Notify提供了一个简单的api，使用户和开发者可以简单的使用http
                                GET请求向运行myDC的设备发送重要的通知消息。当然，myDC也为Notfiy提供了历史记录功能，历史通知，一览无余。</span>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default sticky_list_item">
                    <div class="panel-body">
                        <p style="margin-top: 5px;">
                            <span class="sticky_list_item_title">Task简介</span><span class="sticky_list_item_done_mark">&checkmark;</span>
                            <span class="sticky_list_item_device">WolfPC</span>
                        </p>
                        <p><span class="sticky_list_item_time">2017-08-15 15:30:20</span></p>
                        <p style="margin-top: 8px;"><span class="sticky_list_item_con">Task是myDC提供的一个相比Notify更重的功能，同样是提醒功能，Notify同一时间最多只会呈现一条，而Task可以将用户创建的所有待办事项以列表的形式展现在屏幕上。同时myDC的Task功能也提供了丰富的api共二次开发使用。</span>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default sticky_list_item">
                    <div class="panel-body">
                        <p style="margin-top: 5px;">
                            <span class="sticky_list_item_title">Sticky简介</span><span class="sticky_list_item_done_mark">&checkmark;</span>
                            <span class="sticky_list_item_device">WolfPC</span>
                        </p>
                        <p><span class="sticky_list_item_time">2017-08-15 15:30:20</span></p>
                        <p style="margin-top: 8px;"><span class="sticky_list_item_con">为了满足一项更重的需求，Sticky功能模块呼之欲出。Sticky是个轻量的文本暂存设施，换言之，它是一本随身贴，用以记录更多的文字，更长的文本内容。因为更长的内容，我们希望Sticky仅以api的形式存在，这样运行myDC的设备将完全转变成为一台适用于高级用户的小型服务器。</span>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default sticky_list_item">
                    <div class="panel-body">
                        <p style="margin-top: 5px;">
                            <span class="sticky_list_item_title">remoteCtrl简介</span><span class="sticky_list_item_done_mark">&checkmark;</span>
                            <span class="sticky_list_item_device">WolfPC</span>
                        </p>
                        <p><span class="sticky_list_item_time">2017-08-15 15:30:20</span></p>
                        <p style="margin-top: 8px;"><span class="sticky_list_item_con">顾名思义，即myDC提供远程控制api，并将其开放给同一可访问网络下的其他设备或本机提供的web页面，远程控制模块。</span>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default sticky_list_item">
                    <div class="panel-body">
                        <p style="margin-top: 5px;">
                            <span class="sticky_list_item_title">mySitter简介</span>
                            <span class="sticky_list_item_device">WolfPC</span>
                            <span class="sticky_list_item_done_mark">&checkmark;</span>
                        </p>
                        <p><span class="sticky_list_item_time">2017-08-15 15:30:20</span></p>
                        <p style="margin-top: 8px;"><span class="sticky_list_item_con">为方便Android设备使用运行myDC的设备所提供的api，我们开发了mySitter作为其客户端程序。该程序提供将分享的文本分别以Task或Sticky的形式送到myDC服务器的功能，另外支持监听设备通知和状态并发送Notfiy功能，此外支持桌面微件功能，支持周期task功能定时task功能计时task功能。</span>
                        </p>
                    </div>
                </div>
            </div>

            <div id="panel_remote_ctrl" v-if=' apps.remote_ctrl.active == "active" '>


                <div class="panel panel-warning remote_ctrl_item" v-for="item in apps.remote_ctrl.items" v-if="item.enabled" style="display: inline-block;width: 270px;height: 110px;margin: 8px 8px 8px 8px;background-color: azure;">
                    <div class="panel-body" v-on:click="remote_ctrl_operate(item)" style="width: 100%;">
                        <a href="#">
                            <div>
                                <span><img src="/favicon.ico" style="height: 30px;width: 30px;margin: 4px;"></span>
                                <span style="font-weight: 700;size: 28px;line-height: 1.5;">{{ item.name }}</span>
                            </div>
                            <div>
                                <span style="margin-left: 4px;">{{ item.describe }}</span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

            <div id="panel_settings" v-if=' apps.settings.active == "active" '>
                <div class="panel panel-danger">
                    <div class="panel-body">
                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" v-model:value="apps.settings.api_list_show">
                                    Show Api List
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" v-model:value="apps.task.task_list_done_show">
                                    Show Done Task Items
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" v-model:value="apps.task.task_list_get_undone_only">
                                    Only Get UnDone Task Items
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" v-model:value="apps.settings.judge_url">
                                    Judge Item Con Is URL
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" v-model:value="apps.settings.test_light_request">
                                    Use Test Function Light Request
                                </label>
                            </div>
                            <label>
                                Default Task Title <input type="text" class="form-control"
                                    v-model:value="apps.task.task_title" title="">
                            </label>
                            <br />
                            <label>
                                Device Name <input type="text" class="form-control" v-model:value="apps.settings.device"
                                    title="">
                            </label>
                            <br />
                            <label>
                                Access Token <input type="text" class="form-control"
                                    v-model:value="apps.settings.access_token" title="">
                            </label>
                        </div>
                        <br />
                        <button type="button" class="btn btn-danger" v-on:click='settings_re_init'>Reset Data
                            In Browser
                        </button>
                        <button type="button" class="btn btn-danger" v-on:click='settings_help'>Usage</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click='settings_save()'><span class="glyphicon glyphicon-floppy-disk"
                                aria-hidden="true"></span>保存
                        </button>
                    </div>
                </div>

                <!--    api list-->
                <div id="api_list" v-if="apps.settings.api_list_show">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <legend>Api List</legend>
                            <div>
                                <table class="table table-bordered table-hover" id="api_list_table">
                                    <thead>
                                        <tr>
                                            <th>app</th>
                                            <th>path</th>
                                            <th>method</th>
                                            <th>describe</th>
                                            <th>usage</th>
                                            <th>param</th>
                                            <th>path_variable</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in apps.settings.apis">
                                            <td>{{ item.app }}</td>
                                            <td>{{ item.path }}</td>
                                            <td>{{ item.method }}</td>
                                            <td>{{ item.describe }}</td>
                                            <td>{{ item.usage }}</td>
                                            <td>{{ item.param }}</td>
                                            <td>{{ item.path_variable }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="body_foot">
            <br />
            <p class="navbar-text pull-left" style="display: inline-block;">
                &copy; powered by WolfHugo, with Vue Jquery and BootStrap
            </p>
        </footer>

        <!--    // 显示task详细内容的弹窗-->
        <div class="modal fade" id="task_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title">task detail</h4>
                    </div>
                    <div class="modal-body">
                        <p class="task_detail_header">
                            <span style="font-size:22px;font-weight:700;">{{ apps.task.task_item.title }}</span>
                            <span v-if='apps.task.task_item.readDone' style="font-size:20px;margin-left:8px;font-weight:700;">&checkmark;</span>
                            <span style="font-size:14px;font-weight:300;margin-left:8px">{{ apps.task.task_item.device }}</span>
                            <span style="float:right;font-size:20px;color:rgb(200,100,100);margin-right:4px;font-weight:700">{{ apps.task.task_item.id }}</span>
                        </p>
                        <p style="max-width:95%;word-wrap:break-word;">
                            {{ ui_format_time(apps.task.task_item.createTime) }}</p>
                        <p style="max-width:95%;word-wrap:break-word;font-size: 18px;">{{ apps.task.task_item.con }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span
                                class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--    // 发送sticky弹窗-->
        <div class="modal fade" id="sticky_send" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Send Sticky</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon"
                                aria-hidden="true"></span>&rightarrow;Send
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
<script src="/static/index.js"></script>

</html>