<!DOCTYPE html>
<html lang="en" xmlns:v-model="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myDeskClock-back yard</title>
    <script src="/static/vue.js"></script>
    <script src="/static/axios.min.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 8px;
        }

        #send_task {
            margin-bottom: 16px;
        }

        #api_list_table {
            margin-top: 16px;
        }

        // #api_list div div div::-webkit-scrollbar,
        // #task_list div div div::-webkit-scrollbar {
        //    display: none;
        /* Chrome Safari */

        // }
        #api_list div div div,
        #task_list div div div {
            /* scrollbar-width: none; */
            /* firefox */
            /* -ms-overflow-style: none; */
            /* IE 10+ */
            overflow-x: scroll;
            // text-overflow: ellipsis;
            // white-space: nowrap;
        }
    </style>
</head>


<body>
<div id="panel_task">

    <!--    // send task-->
    <div id="send_task">
        <div class="panel panel-primary panel-head" id="send_task_panel">
            <div class="panel-body">
                <legend>Send Task</legend>
                <div class="form-group">
                    <label v-on:click='resetTitle'>title</label>
                    <input type="text" class="form-control" v-model:value="task_title" placeholder="default title">
                </div>
                <div class="form-group">
                    <label v-on:click=' task="" '>task (must exists)</label>
                    <input type="text" class="form-control" v-model:value="task" placeholder="task content required" @keyup.enter="send()">
                </div>
                <div class="form-group">
                    <label>device</label>
                    <input type="text" class="form-control" v-model:value="device" placeholder="default device">
                </div>

                <button type="button" class="btn btn-primary" v-on:click="send()">Submit</button>
            </div>
        </div>
    </div>

    <!--    // task list-->
    <div id="task_list">
        <div class="panel panel-default">
            <div class="panel-body">
                <legend>Task List</legend>
                <div>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>id</th>
                            <th>title</th>
                            <th>task</th>
                            <th>device</th>
                            <th>create time</th>
                            <th v-if="task_list_done_show">done</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in tasks" v-if=" task_list_done_show || !item.readDone ">
                            <td>
                                <a v-if="item.readDone" v-on:click='set_undone(item.id)' href="#" v-bind:task_id="item.id">set
                                    unDone</a>
                                <a v-else v-on:click='set_done(item.id)' href="#" v-bind:task_id="item.id">set done</a>
                            </td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.title }}</td>
                            <td v-on:click='show_task_detail(item.con)'>{{ item.con }}</td>
                            <td>{{ item.deviceName }}</td>
                            <td>{{ FormatDateTime(item.createTime) }}</td>
                            <td v-if="task_list_done_show">{{ item.readDone }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!--    api list-->
    <div id="api_list" v-if="api_list_show">
        <div class="panel panel-default">
            <div class="panel-body">
                <legend>Api List</legend>
                <div>
                    <table class="table table-bordered table-hover" id="api_list_table">
                        <thead>
                        <tr>
                            <th>app</th>
                            <th>path</th>
                            <th>method</th>
                            <th>describe</th>
                            <th>sample</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in apis">
                            <td>{{ item.app }}</td>
                            <td>{{ item.path }}</td>
                            <td>{{ item.method }}</td>
                            <td>{{ item.describe }}</td>
                            <td>{{ item.sample }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--    page setting-->
    <button type="button" class="btn btn-danger" v-on:click='openSetting'>Settings</button>
    <a href="/index1.html"><button type="button" class="btn btn-alert" >NewPage</button></a>
    <br/>
    <br/>

    <a href="/static/notify.py">click here to download python script for notify, may need right click and
        save
        as</a>

    <div class="modal fade" id="settingDialogPanel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">设置</h4>
                </div>
                <div class="modal-body">

                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model:value="api_list_show">
                                Show Api List
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model:value="task_list_done_show">
                                Show Done Task Items
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" v-model:value="task_list_get_undone_only">
                                Only Get UnDone Task Items
                            </label>
                        </div>
                        <label>
                            Default Task Title <input type="text" class="form-control"
                                                      v-model:value="task_title" title="">
                        </label>
                        <br/>
                        <label>
                            Device Name <input type="text" class="form-control" v-model:value="device"
                                               title="">
                        </label>
                    </div>
                    <button type="button" class="btn btn-danger" v-on:click='setUnInit'>Reset Data In Browser</button>
                    <button type="button" class="btn btn-danger" v-on:click='help'>Usage</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="save()"><span class="glyphicon glyphicon-floppy-disk"
                                                                                                                 aria-hidden="true"></span>保存
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="task_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">task detail</h4>
                </div>
                <div class="modal-body">
                    <p style="max-width:95%;word-wrap:break-word;">{{ task_con_for_show }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

<script src="/static/index1.js"></script>

</html>